<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yeah.ruisu.weekend5_contentprovider">

    <permission android:name="com.yeah.ruisu.weekend5_contentprovider.READ" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.EmployeeContentProvider"
            android:authorities="com.yeah.ruisu.weekend5_contentprovider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="EmployeeProvider"
            android:readPermission="com.yeah.ruisu.weekend5_contentprovider.READ" />

        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"></activity>
    </application>

</manifest>