<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yeah.ruisu.week3daily1">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.NotificationService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".MainActivity$MyMediaReceiver"
            android:exported="false">
            <intent-filter android:priority="1000000">
                <action android:name="Play_Audio" />
            </intent-filter>
            <intent-filter android:priority="1000000">
                <action android:name="Stop_Audio" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".RandomList"
            android:label="@string/title_activity_random_list"></activity>
    </application>

</manifest>